.card{
  position: relative;
}


.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;


}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/Like-button.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.card__like-button_liked {
  background-image: url(../images/likebuttonliked.svg);
  cursor: pointer;
}

.card__like-button_liked:hover {
  background-image: url(../images/likebuttonhover.svg);
}

.card__delete-button {
  background-image: url(../images/deletebutton.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  border-style: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
  cursor: pointer;

}


.card__delete-button:hover {
  background-image: url(../images/deletebutton-hover.svg);
}

.card__content {
  max-width: 413px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    margin-bottom: 12px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 260px;
  }

  .card__content {
    padding: 0;
    margin: 0%;
  }

  .card__content:last-of-type {
    margin-bottom: 20px;
  }
}
